@font-face {
  font-family: "Roboto";
  src: url("Roboto.ttf")
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
}

h1 {
  font-family: Roboto;
  color: white;
  padding: 60px 0 0 0;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: yellow;
}

h4 {
  font-family: Roboto;
  text-align: center;
}

form {
  font-family: Roboto;
  text-align: center;
  padding-top: 20px;
  float: center;
}

#cantidad {
  margin: 0px 45px 10px 15px;
}

#metodo_pago {
  margin: 1px 1px 4px 5px;
}

#nombre {
  margin: 4px -90px 6px 10px;
}

#mail {
  margin: 4px -94px 8px 16px;
}

#direccion {
  margin: 8px -80px 8px 10px;
}

/* Menú nuevo*/
header {
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 5px #000;
  position: fixed;
  background: black;
  text-align: center;
  z-index: 1;
}

.menu {
  width: 100%;
  padding-top: 13px;
  margin: auto;
}

.menu ul li {
  text-decoration: none;
  display: inline-block;
}

.menu ul a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 13px 20px 19px 20px;
}

.menu ul a:hover {
  color: #f2f2f2;
  background: #6e6e6e;
}

/* Pie de página*/
.footer {
  font-family: "Roboto", sans-serif;
  background-color: black;
  width: 100%;
  height: 40px;
  bottom: 0;
  position: fixed;
  text-align: center;
  color: grey;
}

button {
  background-color: #e7e7e7;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*Layout tablets*/
@media screen and (min-width:500px) and (max-width:800px){
.games ul li {
  width: 50%;
}

.menu ul li {
  text-align: center;
}
}

/*Layout celulares*/
@media screen and (max-width:499px){
.games ul li {
  width: 100%;
}

h1 {
  padding: 120px 0 0 0;
}

header {
  height: 100px;
}

.menu ul a {
  padding: 3px 3px 3px 3px;
}

.menu ul li {
  display: block;
  text-align: center;
}
.games {
  padding-top: 120px;
}
}
